* {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  border: 0;
}

.ban {
  width: 500px;
  height: 600px;
  position: relative;
  /*overflow: hidden;*/
  margin: 40px auto 0 auto;
}

.ban2 {
  width: 500px;
  height: 500px;
  position: relative;
  overflow: hidden;
}

.ban2 ul {
  position: absolute;
  left: 0;
  top: 0;
}

.ban2 ul li {
  width: 500px;
  height: 500px;
}

.prev {
  float: left;
  cursor: pointer;
}

.num {
  height: 82px;
  overflow: hidden;
  width: 430px;
  position: relative;
  float: left;
}

.min-pic {
  padding-top: 10px;
  width: 500px;
}

.num ul {
  position: absolute;
  left: 0;
  top: 0;
}

.num ul li {
  width: 80px;
  height: 80px;
  margin-right: 5px;
  padding: 1px;
}

.num ul li.on {
  display: block;
  border: 1px solid red;
  padding: 0;
}

.prev-btn1 {
  width: 16px;
  text-align: center;
  height: 18px;
  margin-top: 40px;
  margin-right: 20px;
  cursor: pointer;
  float: left;
}

.next-btn1 {
  width: 16px;
  text-align: center;
  height: 18px;
  margin-top: 40px;
  cursor: pointer;
  float: right;
}

.pic-prev {
  position: absolute;
  top: 220px;
  left: -45px;
  width: 28px;
  height: 51px;
  z-index: 9;
  cursor: pointer;
}

.pic-prev img {
  width: 28px;
  height: 51px;
}

.pic-next {
  position: absolute;
  top: 220px;
  right: -45px;
  width: 28px;
  height: 51px;
  z-index: 9;
  cursor: pointer;
}

.pic-next img {
  width: 28px;
  height: 51px
}

.mhc {
  background: #000;
  width: 100%;
  opacity: 0.5;
  -moz-opacity: 0.5;
  filter: alpha(Opacity=50);
  position: absolute;
  left: 0;
  top: 0;
  display: none;
}

.pop-up {
  width: 500px;
  height: 500px;
  padding: 10px;
  background: #fff;
  position: fixed;
  -position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -255px;
  margin-top: -255px;
  display: none;
  z-index: 99;
}

.pop-up-xx {
  width: 40px;
  height: 40px;
  position: absolute;
  top: -40px;
  right: 0;
  cursor: pointer;
}

.pop-up2 {
  width: 500px;
  height: 500px;
  position: relative;
  overflow: hidden;
}

.pop-up2 {
  width: 500px;
  height: 500px;
  position: relative;
  overflow: hidden;
  float: left;
}

.pop-up2 ul {
  position: absolute;
  left: 0;
  top: 0;
}

.pop-up2 ul li {
  width: 500px;
  height: 500px;
  float: left;
}

.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}

.clearfix:after {
  clear: both;
}